/command_history.txt
/moonlight-global-datapacks/
/moddata/
/logs/
/welcomescreen_cache.json
/local/
/data/
/crash-reports/
/downloads/
/dynamic-resource-pack-cache/
/usercache.json
/usernamecache.json
/defaultconfigs/
/saves/
/fancymenu_data/
/Starfell - RoTVK.iml
/dynamic-data-pack-cache/
/screenshots/
/.mixin.out/
